
body, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	cursor: default;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body {
	font-family: 'Open Sans', sans-serif;
}

table {
	border-collapse: collapse;
	border-spacing:0px;
}
