
.listitem > * {
	padding:4px;
}

.listitem > #type {
	vertical-align: bottom;
	width:24px;
}

.listitem > #type > img {
	display:block;
	width:100%;
}

.listitem > #details.icon {
	padding:4px;
	width:24px;
	height:24px;
	border-radius:0;
	cursor:pointer;
}

.listitem > #details.icon:hover {
	background-color:transparent;
}

.fileedit > * {
	margin:10px;
}

.listitem.disabled > #type {
    opacity:0.333;
}


.fileedit > #cursor > * {
	display:inline;
}
