
.listitem > * {
	padding:4px;
}

.listitem > #type {
    text-align:center;
	vertical-align: bottom;
	width:24px;
}

.listitem > #type > img {
	display:block;
	width:100%;
}

.listitem > #details {
	border-radius:0;
	cursor:pointer;
	padding:0;
}

.listitem > #details:hover {
	background-color:transparent;
}

.fileedit > * {
	margin:10px;
}

.listitem.disabled > #type {
    aopacity:0.333;
}


.fileedit > #cursor > * {
	display:inline;
}
