.listitem>* {
	padding: 4px;
}

.listitem>#type {
	text-align: center;
	vertical-align: bottom;
	width: 24px;
}

.listitem>#type>img {
	display: block;
	width: 100%;
	height: 24px;
}

.listitem>#details {
	border-radius: 0;
	cursor: pointer;
	padding: 0;
}

.listitem>#details:hover {
	background-color: transparent;
}

.fileedit>* {
	margin: 10px;
}

.fileedit>#cursor>* {
	display: inline;
}

.fileedit>.select>label {
	padding-left: 10px;
	padding-right: 10px;
}

.list #emptylabel {
	color:gray;
	text-align:center;
}
