.ide {
	height:100%;
}

.prj > #project {
	flex:0 0 auto;
}

.prj.unselected .project > #connector {
	width:0;
	padding:0;
}

.prj .project > #connector {
	font-size:24px;
	width:14px;
	padding:9px 5px 9px 5px;
	transition:width 350ms ease;
}

.prj {
	flex:1 1 auto;
}

.mui-light .hoverhighlight:hover,
.mui-light .prj.unselected:hover {
	background-color: hsla(0, 0%, 85%, 1);
}

.mui .hoverhighlight:hover,
.mui .prj.unselected:hover {
	background-color: hsla(224, 8%, 42%, 1);
}

#projects.noneselected .prj {
	flex:0.000000001 1 51px;
}

.prj.unselected {
	flex:0.000000001 1 0px;
}

.prj.unselected:hover {
	background: #ddd;
}

.ide > #header {
	flex: 0.00001 0 135px;
	background: linear-gradient(hsla(0, 0%, 0%, 0.2), transparent);
	display: flex;
	flex-flow: row;
}

.ide > #header.invisible {
	display: none;
}

.ide > #header > * {
    flex: 1 0 auto;
}

.ide > #header > #banner {
    display: flex;
    justify-content: center;
}

.ide > #header > #banner > div {
    display: inline-flex;
    align-items: baseline;
    padding:30px;
}

.ide > #header > #banner .logo img {
    height: 70px;
}

.mui.ide > #header > #banner #title {
	font-size: 60px;
	color: #bbb;
}


.mui-light.ide > #header > #banner #title {
	font-size: 60px;
	color: #555;
}

.ide > #header > #newproject {
	flex: 0 0 auto;
}

.ide > #header > * {
	align-self: flex-end;
}

.ide.prjselected > #header .visibilityanimate,
.prj.unselected .visibilityanimate
{
	visibility: hidden;
	opacity: 0;
	transition: opacity 350ms ease, visibility 0s linear 350ms;
}

.ide > #projects {
	flex:0.0000001 0 auto;
}
.ide > #filler {
	flex:1 0 auto;
}

.ide > #connecting.invisible {
	display:none;
}

.ide > #connecting {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	display: flex;
	font-size: 40px;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(20px);
	background: rgba(0,0,0,0.4);
	text-shadow:0px 0px 10px black, 0px 0px 100px black;
	color:white;
}

.ide.prjselected > #projects {
	flex:1 0 auto;
}

.ide.prjselected > #header,
.ide.prjselected > #filler {
	flex:0.0000001 0 0;
}
