:root {
	--mui-dark-color: hsla(224, 8%, 15%, 1);
	--mui-gray-color: hsla(224, 8%, 22%, 1);
	--mui-normal-color: hsla(224, 8%, 30%, 1);
	--mui-light-color: hsla(224, 8%, 36%, 1);
}

.scroll {
	overflow:auto;
	-webkit-overflow-scrolling: touch;
}

.scroll::-webkit-scrollbar-track
{
	display:none;
}

.scroll::-webkit-scrollbar
{
	width: 5px;
	height: 5px;
	background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb
{
	border-radius: 2px;
	background-color: #888;
}

.scroll::-webkit-scrollbar-corner {
	display:none;
}

.invisible {
	display: none;
}

.popup {
	position: absolute;
	top:0;
	left:0;
	margin:16px;
	z-index:99999;
}

.popup.invisible {
	visibility: hidden;
}

.visibilityanimate {
	display: initial;
	visibility: visible;
	transition: opacity 200ms ease-in, visibility 0s linear;
	opacity: 1;
}

.visibilityanimate.invisible {
	visibility: hidden;
	opacity: 0;
	transition: opacity 200ms ease-in, visibility 0s linear 200ms;
}

.popup.mui > .popup-triangle-wrapper {
	//position: fixed;
	overflow: hidden;
	height:17px;
	margin: 0px;
	margin-top:-17px;
	padding: 0px;
}

.popup.mui > .popup-triangle-wrapper > .popup-triangle-inner {
	margin:5.142135624px;
	width: 22.627px;
	height: 22.627px;
	border: 1px solid white;
	transform: rotate(45deg);
	transform-origin: 50% 50%;
	background: hsla(224, 8%, 30%, 1); //var(--mui-normal-color);
}

.popup.mui > * {
	margin:10px;
}

.popup.mui.list  {
	border-top:1px solid white;
	border-bottom:1px solid white;
}

.popup.mui.list > * {
	margin:0px;
	padding-left: 10px;
	padding-right: 10px;
}

.mui {
	background:hsla(224, 8%, 30%, 1); //var(--mui-normal-color);
	font-size: 18px;
	font-weight: normal;
	text-shadow: none;
	text-align: left;
}

.mui.popup > #title {
	text-align: center;
	margin: 0px;
	padding: 10px;
	background: hsla(224, 8%, 36%, 1);
}

.mui.popup {
	border-radius:5px;
	border:1px solid white;
	box-shadow:0 0 100px black;
	overflow:hidden;
}

.mui.list,
.mui .list {
	margin-left:0px;
	margin-right:0px;
	border-top:1px solid hsla(224, 8%, 15%, 1); //var(--mui-dark-color);
	border-bottom:1px solid hsla(224, 8%, 15%, 1); //var(--mui-dark-color);
	background:hsla(224, 8%, 36%, 1); //var(--mui-light-color);
}

.mui .list > *,
.mui.list > * {
	border-top:1px solid hsla(224, 8%, 15%, 1); //var(--mui-dark-color);
	border-bottom:0;
	padding: 5px 10px 5px 0px;
	margin-left:20px;
}

.mui .list > *:first-child,
.mui.list > *:first-child {
	border-top:0;
}


.mui .table.list > .list > * {
	border:0;
	padding:0px 5px 0px 5px;
	
}
.mui .table.list > .list > *:first-child{
	padding-left:10px;
	
}
.mui .table.list > .list > *:last-child{
	padding-right:10px;
	
}

.mui .checkbox > label {
	padding-left:5px;
}
