.select {
	display:block;
	border:1px solid white;
	border-radius:5px;
	vertical-align:bottom;
	overflow:hidden;
	-webkit-filter:invert(100%);
}

.select input {
	display:none;
}

.select label {
	color: white;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	padding:5px;
	overflow:hidden;
}

.select label:hover {
	background:#444;
}

.select input:checked + label {
	background:white;
	color:black;
}
