.editor,
.editor #doc {
	font-family: "Courier New", monospace; 
	font-size:16px;
}

.editor #annot .list {
    max-height:128px;
}

.editor #annot .list > *:hover {
	background:#ccc;
}

.editor #annot .list > * > * {
	display:inline;
}

.editor #annot .list > * > #row:after {
	content:":";
}

.editor #annot .list > * > #column {
	padding-right:8px;
}
.editor #annot .list > * > #type {
	padding-right:8px;
	padding-left:4px;
}
.editor #annot .list > .error {
	color:red;
}
.editor #annot .list > .error.selected {
	background:red;
	color:white;
}
.editor #annot .list > .warning {
	color:darkorange;
}
.editor #annot .list > .warning.selected {
	background:darkorange;
	color:white;
}
.editor #annot .list > .info {
	color:green;
}
.editor #annot .list > .info.selected {
	background:green;
	color:white;
}

.editor > #doc {
    flex:1 1 auto;
}

.editor > #annot {
    flex:0 0 auto;
}

















