.pane > #preview,
.pane > #edit {
	/*height: 100%;*/
	/*align-self:stretch*/
}

.pane > #header {
	flex:0 0 auto;
}

.pane > #preview,
.pane > #edit {
	flex:1 1 auto;
}

.iframe > iframe {
	flex:1 1 auto;
}

.paneheader {
    white-space:nowrap;
    display:flex;
    flex-direction:row;
}

.paneheader.invisible {
    display:none;
}

.paneheader > * {
    flex: 0 0 auto;
}

.paneheader > #spacer {
    flex: 1 0 0;
}

.paneheader #actions .button {
	margin:5px;
}

.paneheader #editor_actions,
.paneheader #preview_actions {
	display:flex;
}

.paneheader #editor_actions.invisible,
.paneheader #preview_actions.invisible {
	display:none;
}
/*
.paneheader #editor_actions > *,
.paneheader #preview_actions > * {
	display:inline-block;
}
*/
.paneheader > * {
	margin:1px;
}

.paneheader .icon {
	height: 20px;
	width: 20px;
	padding: 6px;
	border-radius:5px;
}

.mui.paneheader > .listitem:hover,
.mui .paneheader > .listitem:hover {
	background-color:hsla(224, 8%, 42%, 1);
	border-radius:5px;
}

.mui-light.paneheader > .listitem:hover,
.mui-light .paneheader > .listitem:hover {
	background-color:hsla(0, 0%, 85%, 1);
	border-radius:5px;
}

.paneheader > .listitem > * {
	display:inline-block;
}

.icon {
	background-repeat: no-repeat;
	background-size: contain;
	background-origin: content-box;
}


.mui .icon:hover {
	background-color: rgba(255,255,255,0.2);
}

.mui-light .icon:hover {
	background-color: rgba(255,255,255,0.2);
}

.icon.activated {
	background-color: rgba(255,255,255,0.3);
}

.icon.activated:hover {
	background-color: rgba(255,255,255,0.1);
}

.icon.info {
	background-image:url(icons/info.svg);
}

.icon.trash {
	background-image:url(icons/trash.svg);
}

.icon.detach {
	background-image: url(icons/detach.svg);
}

.icon.reload {
	background-image: url(icons/refresh.svg);
}

.icon.play {
	background-image: url(icons/play.svg);
}

.icon.options {
	background-image: url(icons/options.svg);
	float:right;
}

.pane iframe {
	border:0;
	background:white;
}

.icon-red {}

.icon-orange { 
  -webkit-filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4); 
  filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4); 
}

.icon-yellow {
  -webkit-filter: hue-rotate(70deg) saturate(100);
  filter: hue-rotate(70deg) saturate(100);
}

.icon-green{
  -webkit-filter: hue-rotate(120deg) saturate(1.5);    
  filter: hue-rotate(120deg) saturate(1.5);    
}

.icon-blue { 
  -webkit-filter: hue-rotate(240deg) saturate(100); 
  filter: hue-rotate(240deg) saturate(5); 
}

.icon-indigo {
  -webkit-filter: hue-rotate(276deg) saturate(0.1) saturate(6.25) brightness(73%);
  filter: hue-rotate(276deg) saturate(0.1) saturate(6.25) brightness(73%)
}

.icon-violet { 
  -webkit-filter: hue-rotate(260deg) saturate(100) saturate(.2) brightness(220%);
  filter: hue-rotate(260deg) saturate(100) saturate(.2) brightness(220%);
}

.icon-cyan { 
  filter: invert(1);
  -webkit-filter: invert(1);
}

.icon-magenta { 
  -webkit-filter: hue-rotate(260deg) saturate(100); 
  filter: hue-rotate(260deg) saturate(100); 

}

.icon-lime {
  -webkit-filter: hue-rotate(80deg) saturate(100);
  filter: hue-rotate(80deg) saturate(100);
}

.icon-olive {
  -webkit-filter: hue-rotate(35deg) saturate(.5) brightness(630%) saturate(100) brightness(50%);
  filter: hue-rotate(35deg) saturate(.5) brightness(630%) saturate(100) brightness(50%);
}

.icon-maroon {
  -webkit-filter: hue-rotate(35deg) saturate(.5) brightness(288%) saturate(100) brightness(50%);
  filter: hue-rotate(35deg) saturate(.5) brightness(288%) saturate(100) brightness(50%);
}

.icon-purple {
  filter: hue-rotate(300deg) saturate(.64);
  -webkit-filter: hue-rotate(300deg) saturate(.64);   
}

.icon-white {
  -webkit-filter: grayscale(100%) brightness(5);
  filter: grayscale(100%) brightness(5);
}

.mui .icon {
  -webkit-filter: grayscale(100%) brightness(5);
  filter: grayscale(100%) brightness(5);
}

.icon-gray10 { 
  -webkit-filter: grayscale(100%) brightness(5) brightness(.9); 
  filter: grayscale(100%) brightness(5) brightness(.9); 
}

.icon-gray20 { 
  -webkit-filter: grayscale(100%) brightness(5) brightness(80%);
  filter: grayscale(100%) brightness(5) brightness(80%);
}

.icon-gray30 { 
  -webkit-filter: grayscale(100%) brightness(500%) brightness(70%);
  filter: grayscale(100%) brightness(500%) brightness(70%);
}

.icon-gray40 { 
  -webkit-filter: grayscale(100%) brightness(500%) brightness(60%);
  filter: grayscale(100%) brightness(500%) brightness(60%);
}

.icon-gray50 { 
  -webkit-filter: grayscale(100%) brightness(500%) brightness(50%);
  filter: grayscale(100%) brightness(500%) brightness(50%);
}

.icon-gray60 { 
  -webkit-filter: grayscale(100%) brightness(500%) brightness(40%);
  filter: grayscale(100%) brightness(500%) brightness(40%);
}

.icon-gray70 { 
  -webkit-filter: grayscale(100%) brightness(500%) brightness(30%); 
  filter: grayscale(100%) brightness(500%) brightness(30%); 
}

.icon-gray80 { 
  -webkit-filter: grayscale(100%) brightness(500%) brightness(20%);
  filter: grayscale(100%) brightness(500%) brightness(20%);
}

.icon-gray90 { 
  -webkit-filter: grayscale(100%) brightness(500%) brightness(10%); 
  filter: grayscale(100%) brightness(500%) brightness(10%); 
}

.icon-black {
  -webkit-filter: grayscale(100%) brightness(-5);
  filter: grayscale(100%) brightness(-5);
}

.mui-light .icon {
  -webkit-filter: grayscale(100%) brightness(-5);
  filter: grayscale(100%) brightness(-5);
}
