.pane > #header {
	flex:0 0 auto;
}

.pane > #preview,
.pane > #edit {
	flex:1 1 auto;
}

.pane > #preview > iframe {
	flex:1 1 auto;
}

.pane .editor,
.pane .ace_editor {
	font-family:"DejaVu Sans Mono", monospace;
	font-size:16px;
}

.pane .ace_editor {
    box-shadow: inset 0 8px 8px -8px black, inset 0 -8px 8px -8px black;
}

.paneheader {
    white-space:nowrap;
    display:flex;
    flex-direction:row;
}

.paneheader.invisible {
    display:none;
}

.paneheader > * {
    flex: 0 0 auto;
}

.paneheader > #spacer {
    flex: 1 0 0;
}

.paneheader #actions .button {
	margin:5px;
}

.paneheader #editor_actions,
.paneheader #preview_actions {
	display:flex;
}

.paneheader #editor_actions.invisible,
.paneheader #preview_actions.invisible {
	display:none;
}

.paneheader > * {
	margin:1px;
}

.mui .icon,
.mui-light .icon {
	height: 32px;
	width: 32px;
	border-radius:5px;
	text-align:center;
	font-size:24px;
}

.mui.paneheader > .listitem:hover,
.mui .paneheader > .listitem:hover {
	background-color:hsla(224, 8%, 42%, 1);
	border-radius:5px;
}

.mui-light.paneheader > .listitem:hover,
.mui-light .paneheader > .listitem:hover {
	background-color:hsla(0, 0%, 85%, 1);
	border-radius:5px;
}

.paneheader > .listitem > * {
	display:inline-block;
}

.icon {
	background-repeat: no-repeat;
	background-size: contain;
	background-origin: content-box;
}


.mui .icon:hover {
	background-color: rgba(255,255,255,0.2);
}

.mui .icon.activated {
	background-color: rgba(255,255,255,0.3);
}

.mui .icon.activated:hover {
	background-color: rgba(255,255,255,0.1);
}

.mui-light .icon:hover {
	background-color: rgba(0,0,0,0.2);
}

.mui-light .icon.activated {
	background-color: rgba(0,0,0,0.3);
}

.mui-light .icon.activated:hover {
	background-color: rgba(0,0,0,0.1);
}

.icon.info {
	background-image:url(icons/info.svg);
}

.icon.trash {
	background-image:url(icons/trash.svg);
}

.icon.detach {
	background-image: url(icons/detach.svg);
}

.icon.reload {
	background-image: url(icons/refresh.svg);
}

.icon.play {
	background-image: url(icons/play.svg);
}

.icon.options {
	background-image: url(icons/options.svg);
	float:right;
}

.pane iframe {
	border:0;
	background:white;
}

