body {
	font-family: sans-serif;
	font-size: 16px;
}

input {
	font-family: sans-serif;
	box-sizing: border-box;
	font-size: 16px;
	margin: 0;
	padding: 4px;
	border: 1px solid gray;
	width: 100%;
}

input:focus {
    outline:0;
}

#secret input {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

#alias input {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom: 0;
}

